@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    width: 70%;
    margin: auto;
    background-color: #4d3618;
    color: white;
}

.logo {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    height: 13vh;
}

.auth {
    background-color: rgb(238, 238, 238);
    border-radius: 50px;
    height: 50vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#input {
    width: 80%;
    margin-left: 10%;
    outline: none;
    border: none;
    height: 40px;
    font-family: 'Montserrat';
    background-color: #dbdbdb;
    border-radius: 12px;
}

input[name="username"] {
    margin-top: 25px;
}