@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    width: 70%;
    margin: auto;
    background-color: #4d3618;
    color: white;
}

.logo {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    height: 13vh;
}

#text {
    margin-top: 50px;
    text-align: center;
}

.form {
    background-color: rgb(238, 238, 238);
    width: 50%;
    margin: auto;
    border-radius: 50px;
    height: 50vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    width: 80%;
    margin-left: 10%;
    outline: none;
    border: none;
    height: 40px;
    font-family: 'Montserrat';
    background-color: #dbdbdb;
    border-radius: 12px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

input[name='name'] {
    margin-top: 50px;
}

#btn {
    transition: all 200ms;
    margin-top: 100px;
}

#btn:hover {
    background-color: #9b9b9b;
    color: white;
}