@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    width: 70%;
    margin: auto;
    background-color: #4d3618;
    color: white;
}

.form {
    background-color: rgb(196, 196, 196);
    border-radius: 50px;
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    width: 80%;
    margin-left: 10%;
    outline: none;
    border: none;
    height: 40px;
    font-family: 'Montserrat';
    border-radius: 12px;
}

input[name='name'] {
    margin-top: 50px;
}
 