@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    width: 90%;
    margin: auto;
    background-color: #4d3618;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

header {
    padding-top: 50px;
    height: 10vh;
    color: white;
    font-size: 25px;
    padding-bottom: 50px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 9vh;
    width: 10vw;
    text-align: center;
    font-size: 24px;
    margin: auto;
}

.link a {
    padding: 10px 20px;
    background-color: wheat;
    border-radius: 12px;
    color: black;
}

#form-link {
    margin-right: 75px;
}

.about-us {
    font-size: 32px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 75px;
}

/*общий стиль*/
.product {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
    position: relative;
    min-height: 300px; 
    margin-bottom: 75px;
}


/*для фото слева*/
#left-page {
    width: 40%;
    transition: all 0.3s ease;
}

#left-page img {
    width: 100%;
    height: 100%;
    display: block;
}

#right-page {
    width: 60%; 
    opacity: 0; 
    transform: translateX(-20px);
    transition: all 0.4s ease;
    visibility: hidden; 
}

#right-page h2 {
    margin-bottom: 20px;
}

#right-page h3 {
    margin-bottom: 40px;
}

.product:hover #right-page {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

/*для фото справа*/
#left-page-text {
    width: 60%; 
    opacity: 0;
    transform: translateX(20px); 
    transition: all 0.4s ease;
    visibility: hidden; 
    text-align: right;
}

#left-page-text h2 {
    margin-bottom: 20px;
}

#left-page-text h3 {
    margin-bottom: 40px;
}

.product:hover #left-page-text {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

#right-page-photo {
    width: 40%;
    transition: all 0.3s ease; 
}

#right-page-photo img {
    width: 100%;
    height: 100%;
    display: block;
}