@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    width: 70%;
    margin: auto;
    background-color: #4d3618;
    color: white;
}

.logo {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    height: 13vh;
}

.text {
    margin-bottom: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px 20px;
    border: 1px solid #ddd; /* добавляет границы */
}

th {
    background-color: #f2f2f22a; /* фон для заголовков */
}

#approve {
    background-color: #e7e7e7;
    outline: none;
    border: none;
    padding: 12px 16px;
    border-radius: 12px;
    transition: all 200ms;
    font-family: 'Montserrat';
    font-weight: 600;
}

#approve:hover {
    background-color: #5f5f5f;
    color: white;
}